.popup__button_purpose_close {
  position: absolute;
  background-image: url(../../../../images/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 20px;
  height: 20px;
  top: -40px;
  right: 0px;
  background-color: transparent;
  transition: opacity .5s;
}

.popup__button_purpose_close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 880px) {
  .popup__button_purpose_close {
    width: 32px;
    height: 32px;
    right: -40px;
  }
}